<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaTeX_Validator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LaTeX_Validator.Settings>
            <setting name="RootDirectoryPath" serializeAs="String">
                <value>C:\Users\entep04\Desktop\Infos\EigeneProjektarbeiten\T2000\T2000_Latex</value>
            </setting>
            <setting name="GlossaryPath" serializeAs="String">
                <value>C:\Users\entep04\Desktop\Infos\EigeneProjektarbeiten\T2000\T2000_Latex\03_Preamble\glossaries.tex</value>
            </setting>
            <setting name="PreambleDirectoryPath" serializeAs="String">
                <value>C:\Users\entep04\Desktop\Infos\EigeneProjektarbeiten\T2000\T2000_Latex\03_Preamble</value>
            </setting>
            <setting name="IgnoreSectionLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IgnoreSettingsFile" serializeAs="String">
                <value>False</value>
            </setting>
        </LaTeX_Validator.Settings>
    </userSettings>
</configuration>